.header {
	background-color: #fff;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
	font-family: 'Poppins', sans-serif;
	border-radius: 55px;

	padding: 0 7%;
	margin: 2rem 7%;

	box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
	position: sticky;
	top: 0;
	z-index: 1000;
}
.logo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 10px;
}
.navs {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav {
	margin: 10px;
	padding: 10px;
	text-decoration: none;
	color: black;
	font-size: 20px;
}
.nav:hover {
	color: red;
}
.BsSearch {
	margin: 10px;
	padding: 5px;
	text-decoration: none;
	color: black;
	font-size: 20px;
}
input {
	border-radius: 25px;
	border: 1px solid lightgray;
	outline: none;
	padding: 5px;
	margin: 5px;
}
